.search-results {
    width: 100%;
    max-width: 800px;
}

.search-result {
    display: flex;
    width: 100%;
    justify-items: space-between;
    gap: 20px;
}

.search-result__text {
    flex-grow: 1;
}

.search-result__title {
    margin: 0;
}

.search-result__artists {
    margin: 0;
    line-height: 1.4em;
}